# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [27]:
import numpy as np
import pandas as pd

import scipy.stats as st

import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [28]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [29]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [30]:
legendary = pokemon[pokemon['Legendary']==True]
regular = pokemon[pokemon['Legendary']==False]
print("#Legendary:{0} #Regular:{1}".format(legendary.shape[0],regular.shape[0]))

#Legendary:65 #Regular:735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [31]:
mean_legendary = legendary['Total'].mean()
std_legendary = legendary['Total'].std()

mean_regular = regular['Total'].mean()
std_regular = regular['Total'].std()

print("For Legendary:\n Mean:{0} Standart Deviation:{1}".format(mean_legendary,std_legendary))
print("For Regular:\n Mean:{0} Standart Deviation:{1}".format(mean_regular,std_regular))

For Legendary:
 Mean:637.3846153846154 Standart Deviation:60.93738905315346
For Regular:
 Mean:417.21360544217686 Standart Deviation:106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
# Your code here:
group1 = legendary['Total']
group2 = regular['Total']
pValue, tStat = st.ttest_ind(group1,group2, equal_var = False)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:25.8335743895517 T-Statistic:9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [33]:
# we can conclude that there is a significant difference between the two sample means because the p-value is very small.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [34]:
# Your code here:
type1 = pokemon.groupby(['Type 1']).agg({'Type 1':'count'})
type1

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
type1['type_mean'] = type1/pokemon.shape[0]
#type1['std'] = type1.std(axis=1)
type1

          Type 1  type_mean
Type 1
Bug           69    0.08625
Dark          31    0.03875
Dragon        32    0.04000
Electric      44    0.05500
Fairy         17    0.02125
Fighting      27    0.03375
Fire          52    0.06500
Flying         4    0.00500
Ghost         32    0.04000
Grass         70    0.08750
Ground        32    0.04000
Ice           24    0.03000
Normal        98    0.12250
Poison        28    0.03500
Psychic       57    0.07125
Rock          44    0.05500
Steel         27    0.03375
Water        112    0.14000

In [36]:
# Type Water have the highest mean among all the types.

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [43]:
hypothesis2 = pokemon[['Type 1','Total']]
water_legendary = hypothesis2[(hypothesis2['Type 1']=='Water')]
#water_legendary.shape[0] # 4 rows as expected!
water_regular = hypothesis2[(hypothesis2['Type 1']=='Water')]
#water_regular.shape[0] # 108 rows as expected

water_mean = water_legendary['Total'].mean()
water_std = water_legendary['Total'].std()
water_obs = water_legendary.shape[0]
non_water_mean = water_regular['Total'].mean()
non_water_std = water_regular['Total'].std()
non_water_obs = water_regular.shape[0]

# scipy.stats.ttest_ind_from_stats: 
# T-test for means of two independent samples from descriptive statistics.
# scipy.stats.ttest_ind_from_stats(mean1, std1, nobs1, mean2, std2, nobs2, equal_var=True)
# ttest_ind_from_stats(mean1=15.0, std1=np.sqrt(87.5), nobs1=13,mean2=12.0, std2=np.sqrt(39.0), nobs2=11)

pValue, tStat = st.ttest_ind_from_stats(mean1=water_mean, std1=water_std, nobs1=water_obs,mean2=non_water_mean, std2=non_water_std, nobs2=non_water_obs, equal_var = True)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:0.0 T-Statistic:1.0

Write your conclusion below.

In [ ]:
# Your conclusions here:

# P-value is too small. So they don't have the same average.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
# Your code here:

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [ ]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: